@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400;600&display=swap');


.pokemon-card {
    background-color: hsl(0, 0%, 100%);
    font-family: 'Barlow', sans-serif;
    width: 200px;
    height: 400px;
    padding: 20px;
    border-style: solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
}

.pokemon-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-image {
    height: 50%;
    margin: 0 auto 0 auto;
}

.pokemon-abilities {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.pokemon-abilities-title {
    margin-bottom: 5px;
}
ul{
    list-style-type: none;
}

.pokemon-ability {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: hsl(0, 0%, 100%);
    background-color: hsl(236, 11%, 71%);
    margin-bottom: 5px;
    margin-top: 5px;
    width: 150px;
    padding: 5px;
    border-radius: 5px;
}

.pokemon-weight {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.pokemon-moves {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}




