@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400;600&display=swap');


* {
    padding: 0;
    margin: 0;
}

.app {
    background-color: hsl(236, 11%, 71%);
}

.app-header{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pokemon-logo {
    width: 400px;
    margin: 50px auto 20px auto;
}

.app-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.app-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
}




